<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title th:content="${seoTitle}"></title>
    <meta name="description" th:content="${seoDescription}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta th:if="${post.featuredImage} != null" name="image" th:content="${post.featuredImage}">
    <link rel="shortcut icon" type="image/x-icon" href="https://buttercms.com/static/v2/images/favicon.png"/>
    <!-- Place favicon.ico in the root directory -->

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/lineicons.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">
    You are using an <strong>outdated</strong> browser. Please
    <a href="https://browsehappy.com/">upgrade your browser</a> to improve
    your experience and security.
</p>
<![endif]-->

<!-- ========================= preloader start ========================= -->
<div class="preloader">
    <div class="loader">
        <div class="spinner">
            <div class="spinner-container">
                <div class="spinner-rotator">
                    <div class="spinner-left">
                        <div class="spinner-circle"></div>
                    </div>
                    <div class="spinner-right">
                        <div class="spinner-circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- preloader end -->


<!-- ========================= header start ========================= -->
<div th:insert="fragments/common-elements/header :: header"></div>
<!-- ========================= header end ========================= -->

<!-- ========================= blog-section start ========================= -->
<section id="blog-header" class="single-post-nav">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div th:insert="fragments/blog/breadcrumb-menu"></div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Post -->
<section class="blog-post">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12 col-12">
                <div class="single-post">
                    <div class="single-post-meta">
                        <h2 th:text="${post.title}" class="single-post-header"></h2>
                        <ul class="single-post-meta-info">
                            <li>
                                <a href="javascript:void(0)">
                                    <img th:unless="${#strings.isEmpty(post.author.profileImage)}"
                                         th:src="${post.author.profileImage}"/>
                                    <img th:if="${#strings.isEmpty(post.author.profileImage)}"
                                         th:src="@{/images/placeholder.png}"/>
                                </a>
                                <a href="javascript:void(0)"
                                   th:text="|${post.author.firstName} ${post.author.lastName}|"></a></li>
                            <li>
                                <a th:text="${#dates.format(post.published, 'dd MMM yy')}"
                                   href="javascript:void(0)"><i class="lni lni-calendar"></i>
                                </a>
                            </li>
                            <li>
                                <th:block th:each="tag: ${post.tags}" th:insert="fragments/blog/tag"/>
                            </li>
                        </ul>
                    </div>
                    <div class="single-post-thumbnail">
                        <img th:src="${post.featuredImage}" alt="">
                    </div>
                    <div class="single-post-body">
                        [(${post.body})]
                    </div>
                </div>
            </div>
            <!-- Searchbox -->
            <aside class="col-12 col-lg-4">
                <div th:insert="fragments/blog/search"></div>
                <div th:insert="fragments/blog/categories"></div>
            </aside>
        </div>
    </div>
</section>
<!-- ========================= blog-section end ========================= -->


<!-- ========================= footer start ========================= -->
<div th:insert="fragments/common-elements/footer :: footer"></div>
<!-- ========================= footer end ========================= -->


<!-- ========================= scroll-top ========================= -->
<a href="#" class="scroll-top btn-hover">
    <i class="lni lni-chevron-up"></i>
</a>

<!-- =================== JS Blog Post Template ========================= -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/polyfill.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>
