<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>[(${seoTitle})]</title>
    <meta name="description" th:content="${seoDescription}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" type="image/x-icon" href="https://buttercms.com/static/v2/images/favicon.png"/>
    <!-- Place favicon.ico in the root directory -->

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/lineicons.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link
            rel="preload"
            th:href="@{/css/tiny-slider.css}"
            as="style"
            onload="this.onload=null;this.rel='stylesheet'"
    >
    <!-- No JS fallback for tiny-slider -->
    <noscript>
        <link rel="stylesheet" th:href="@{/css/tiny-slider.css}">
    </noscript>
</head>
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">
    You are using an <strong>outdated</strong> browser. Please
    <a href="https://browsehappy.com/">upgrade your browser</a> to improve
    your experience and security.
</p>
<![endif]-->

<!-- ========================= preloader start ========================= -->
<div class="preloader">
    <div class="loader">
        <div class="spinner">
            <div class="spinner-container">
                <div class="spinner-rotator">
                    <div class="spinner-left">
                        <div class="spinner-circle"></div>
                    </div>
                    <div class="spinner-right">
                        <div class="spinner-circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    f
</div>
<!-- preloader end -->


<!-- ========================= header start ========================= -->
<div th:insert="fragments/common-elements/header :: header"></div>
<!-- ========================= header end ========================= -->

<div th:each="section: ${sections}">
    <div th:if='${section.scrollAnchorId.equals("home")}' th:insert="fragments/landing-page/home"></div>
    <div th:if='${section.scrollAnchorId.equals("about")}' th:insert="fragments/landing-page/about"></div>
    <div th:if='${section.scrollAnchorId.equals("features")}' th:insert="fragments/landing-page/features"></div>
    <div th:if='${section.scrollAnchorId.equals("tryit")}' th:insert="fragments/landing-page/try-it"></div>
    <div th:if='${section.scrollAnchorId.equals("testimonials")}' th:insert="fragments/landing-page/testimonials"></div>
</div>

<!-- ========================= blog-section start ========================= -->
<div th:insert="fragments/landing-page/latest-blogs"></div>
<!-- ========================= blog-section end ========================= -->

<!-- ========================= footer start ========================= -->
<div th:insert="fragments/common-elements/footer"></div>
<!-- ========================= footer end ========================= -->

<!-- ========================= scroll-top ========================= -->
<a href="#" class="scroll-top btn-hover">
    <i class="lni lni-chevron-up"></i>
</a>

<!-- =================== JS All Templates ========================= -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/polyfill.js}"></script>
<script th:src="@{/js/main.js}"></script>

<!-- ================= JS Index HTML only ========================= -->
<script th:src="@{/js/tiny-slider.js}"></script>
<script th:src="@{/js/client-slider.js}"></script>
<script th:src="@{/js/section-menu.js}"></script>
</body>
</html>
